
<% if in_database? %>
	<div id="result">
		<h3 id="start-address"><%= "#{@building.building_num} #{@building.street} #{@building.street_suffix}, #{@building.city}, NY #{@building.zip}" %></h3>
		<h4>At least one apartment in this building is rent-stabilized!</h4>
	
	<p>To learn more about a specific unit in this building, including its rent history, call the <a href="http://www.nyshcr.org/AboutUs/contact.htm" target="_blank">Division of Homes and Community Renewal's</a> Infoline at 718-739-6400 or visit DHCR at:</p>

	<center>
		<p id="end-address"><%= @building.office.building_num %> <%= @building.office.street %> <%= @building.office.street_suffix %>, <%= @building.office.city %>, NY <%= @building.office.zip  %></p>
	</center>
</div>

<% else %>

	<h3 id="start-address"><%= "#{@building.building_num} #{@building.street} #{@building.street_suffix.downcase.capitalize}" %> Brooklyn, NY</h3>
	<h4>This building isn't in our records.</h4>
	<p class="result">Contact the <a href="http://www.nyshcr.org/AboutUs/contact.htm" target="_blank">Division of Homes and Community Renewal's</a> Infoline at 718-739-6400 or visit the following office to find out if it is rent stabilized:</p>

	<center>
		<p id="end-address"><%= get_office.building_num %> <%= get_office.street %> <%=get_office.street_suffix %>, <%= get_office.city %>, NY <%=get_office.zip  %></p>
	</center>

<% end %>

<div id="directions-map">
</div>


<div id="direction-panel">
</div>

<center>
	<%= link_to 'Search Again', root_path %>
</center>