<!DOCTYPE html>
<html>
<head>
  <title>Stable|Brooklyn</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Stable|Brooklyn</h1>

<div id="container">

<%= yield %>

</container>

<footer><a href="http://nycrgb.org/html/resources/zip.html" target="_blank">Data Source</a></footer>
</body>
</html>